<!DOCTYPE html>
<html lang="fr"></html>

    <head>
        <meta charset="UTF-8">
        <!-- Bootstrap CSS -->
{% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/package.css') }}">



    </head>

    {% block title %} Choisie un package!{% endblock %}

    
    {% block body %}


                                                <!-- GESTION DES PACKAGES -->
        <div class="packages-all">
        <h1 class="more" href="Packages/base">PACKAGES DE BASE</h1>
        <h1 class="more" href="Packages/option">PACKAGES AVEC OPTION</h1>

        <div class="wcontent clearfix">

            <section class="featured-listing  ">
    
            <div class="listing-wrapper">
                <div class="intro-text">Ne soyez pas timide votre futur partenaire vous attends</div>
    
    
                <div class="hr"></div>
                <div class="content-block4">
                    <div class="content">
                        <div class="top"></div>
                        <div class="subtitle"></div>
                                                
                                                            <!-- PREMIER PACKAGES -->

                    

{% endblock %}
